/* Master Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {
	border:0;
	outline:0;
	font-size:100%;
	background:transparent;
	margin:0;
	padding:0
}

#leirasbox a {
    background: #906198;
    color: #ffffff;
    padding: 2px;
    padding-left:4px;
    padding-right:4px;
    /* margin-top:2px; */
}

body {
    /*background-image:url('/images/lencsekhu_karacsony.png');*/
    background-image:url('../kepek/lencsek_hatter2.jpg');
    background-repeat:repeat;
    background-attachment: fixed;
}
ol, ul {
	list-style:none
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none
}
:focus {
	outline:0
}
ins {
	text-decoration:none
}
del {
	text-decoration:line-through
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
/* Core */
body {
	background-color:#000000;
	color:#4a423f; 
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:13px;
}
a:link {
	color:#80766d;
	text-decoration:none;
}
a:hover {
	color:#998f88;
	text-decoration:none;
}
h1, h2, h3, h4, h5, h6{
	margin-top:15px;
	margin-bottom:12px;
}
h1{
	color:#7676be;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin-bottom:12px;
	font-size:16px;
	font-weight:normal;
}
h2{
	font-family: Arial, Verdana, Helvetica, sans-serif;
	color:#769d19;
}

.menu-title {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 16px;
}

#bg {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	/* background: url("img/header_bg.jpg") no-repeat scroll left top transparent; */
	background-color:#1D2E39; /*  eredeti: 4a3c31 */
	padding-bottom:10px;
	
}

.ajandek_cim {
    font-size:14px;
    padding:5px;
    background:#F5F4F2;
    color:#46b7cd;
    font-weight:bold;
}

.ajandek_leiras{
    font: 12px  arial, helvetica, sans-serif; color: #80766E;
}

#rendelesek_tabla td {
    /*border: 1px solid #cccccc;*/
    padding: 4px;
}
.rendelesek_tabla_css td {
    border: 1px solid #cccccc;
    padding: 4px;
}

.Button1 {
    background-color:#41c8e6;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    /* border:1px solid #4392e6; */
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:14px;
    padding:2px 7px;
    text-decoration:none;
    /* text-shadow:0px 1px 0px #2f6627; */
}
.Button1:hover {
    background-color:#41c8e6;
}
.Button1:active {
    position:relative;
    top:1px;
}

.keretes_div {
    border: 1px dashed #bdbdbd;
    width: 370px;
    padding: 4px;
}

.Button2 {
    background-color:#47B7CB;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #47B7CB;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:12px;
    padding:1px 6px;
    text-decoration:none;
    /* text-shadow:0px 1px 0px #2f6627; */
}
.Button2:hover {
    background-color:#47B7CB;
    color: #ffffff;
}
.Button2:active {
    position:relative;
    top:1px;
    color: #ffffff;
}
.Button2:visited {
    position:relative;
    color: #ffffff;
    top:1px;
}



.rayban_kiem {
    font-family: Arial, Verdana, Helvetica, sans-serif;
    color: #FFffff;
    background-color:#FF0000;
}

#main {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
/*Header*/
#header {
	width:950px;
	height:120px;
	padding-left:10px;
	position: relative;
	display:block;
	background:none;
	
}
#toplogo {
	width:172px;
	height:50px;
	position: absolute;
	background: url("img/logo.png") no-repeat scroll 0 0 transparent;
	top:18px;
}
#basket {
	right:0;
	top:45px;
	min-width:246px;
	height:40px;
	position: absolute;
	/*background: url("img/basket.png") no-repeat scroll 0 0 transparent;*/
	color:#c8c9c3;
	text-align:right;
	padding-bottom:0;
}

a.bubi:visited {
    color: rgb(128, 118, 109);
}

#basket-text {
	/*position: absolute;*/
	/*
	right: 0;*/
	margin:15px 0 auto 15px;
	bottom: 15px;
	float:right;
}
#basket-text span {
    color: #46B7CB;
    font-size: 15px;
    font-weight: bold;
    margin: 0 1px;
}
#basket-text a{
	color:#47b6ca;
	text-decoration:none;
}
#lang_sel {
	right:0;
	top:18px;
	position: absolute;
	height:30px;
	color:#c8c9c3;
}
#lang_sel a {
	color:#c8c9c3;
}
.separator {
	color: #80766d;
	margin-left:8px;
	margin-right:8px;
}
#topsearch {
	width:auto;
	/*min-width:450px;*/
	/*float:right;*/
	right:0;
	top:88px;
	position: absolute;
	text-align:right;
	color:#ffffff;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:14px;
}
/* TOP menu */
#topmenu {
	height:41px;
	max-height:41px;
	max-width:596px;
	top:79px;
	position: absolute;
	float:left;
}
#topmenu ul {
	list-style: none outside none;
	margin: 0;
	padding: 0;
	width: auto;
	z-index: 500;
	display:block;
}
#topmenu li {
	list-style: none outside none;
	height:41px;
	background-color:#47b7cb;
	margin-right:1px;
	float:left;
	display: inline;
	
	padding-top:13px;
	padding-left:13px;
	padding-right:13px;
	border-top-left-radius: 2pt 2pt;
	border-top-right-radius: 2px 2px;
}
#topmenu a {
	/*margin:13px 13px 0 13px;*/
	font-size:16px;
	color:#FFFFFF;
	font-family:Arial,Verdana,Helvetica,sans-serif;
}

#topmenu li.active{
	background-color:#FFFFFF;
	color: #80766E !important;
}
#topmenu li.active a{
	color: #80766E !important;
}

#topmenu li:hover{
	background-color:#FFFFFF;
	color: #80766E !important;
}

#topmenu li:hover a{
	color: #80766E !important;
}


/* With the padding included, the width is 190 pixels: the actual width of the image. */
/*
select {
	
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
     
	
	padding: 2px 2px 0 8px;
	color: #fff;
	font: 12px/21px arial, sans-serif;
	background: url(img/select-arrow.png) no-repeat right #ffffff;
	overflow: hidden;
	border: 1px solid #46b6ca;
	color: #7f766d;
}
*/
.prod-sel{
	width: 244px;
	height: 22px;
    border: 1px solid #46B7CB;
    color: #80766E;
    font-family: Arial !important;
}
input{
	/*font: 12px/21px arial, sans-serif;*/
	font: 12px arial, sans-serif;
	background-color: #ffffff;
	border: 1px solid #46b6ca;
	color: #7f766d;
	
}

#bg2 {
	width: 960px;
    margin-left: auto;
    margin-right: auto;
	min-height:1460px;
	height:auto;
	display:block;
	position: relative;
	background-color:#FFFFFF;
	top:0;
	padding-bottom:10px;
    /*overflow:auto;*/
}
#left-mod {
	width:155px;
	height:auto;
	/*float:left;*/
	top:10px;
	left:10px;
	background-color:#f5f4f2;
	color:#7f766f;
	line-height:18px;
	position:absolute;
}

.left-menu {
	border-bottom: 2px dashed #d0cfcd;
	padding-top:10px;
}
.left-menu h2 {
	margin:0;
	color:#44b7ca;
	font-weight:normal;
	font-size:16px;
	margin-bottom:12px;
	padding-left:22px;
	padding-right:10px;
	background: url(img/left-arrow.jpg) no-repeat left top;
	width:130px;
	display:block;
}
.left-menu p {
	margin:10px 10px 10px 0px;
}
.left-menu a:link {
	color:#83776b;
	background: url("img/items_icon.gif") no-repeat scroll 5px 1px transparent;
	padding-left: 22px;
    
    display:inline-block;
    
    font-size:13px;
    padding-bottom:4px;
}

.left-menu a.item_active  {
	color: #769d18;  
    font-weight: bold;
    background: url("img/items_icon_active.gif") no-repeat 5px 1px;
	padding-left: 22px;
    display:inline-block;
}

.left-menu a:visited {
	color:#83776b;
}
.left-menu a:hover {
	color:#67b7d7;
}
.left-menu a:active {
	color:#8c9d18;
}




#top-flash {
	width:775px;
	height:120px;
	position: relative;
	/*top:10px;*/
	/*left:10px;*/
	margin-bottom:15px;
}
/* TOP ICONS */
#top-icons {
	width:775px;
	height:55px;
	position: relative;
	margin-top:10px;
	/*left:175px;*/
	left:10px;
	margin-bottom:10px;
}
#top-icons h2 {
	margin:0;
	color:#759d18;
	font-weight:normal;
	font-size:16px;
}
#ic-i-a{
	float:left;
	margin-left:0;
	background: url(icons/ingyenes_atvetel.png) no-repeat left top;
	padding-left:48px;
	height:41px;
}
#ic-i-sz{
	float:left;
	margin-left:10px;
	background: url(icons/ingyenes_szallitas.png) no-repeat left top;
	padding-left:48px;
	height:41px;
}
#ic-cs-e{
	float:left;
	margin-left:10px;
	background: url(icons/csak_eredeti.png) no-repeat left top;
	padding-left:34px;
	height:41px;
}
#ic-sz-h{
	float:left;
	margin-left:10px;
	background: url(icons/szakertoi_hatter.png) no-repeat left top;
	padding-left:37px;
	height:41px;
}

/* TOP ICONS END */
#content {
	width:775px;
	/*padding-right:10px;*/
	/*min-height:150px;*/
	/*padding-top:10px;*/
	/*left:175px;
	top:130px;*/
	left:175px;
	top:10px;
	position: relative;
	margin-bottom:10px;
	/*float:right;*/
}

.cont-block{
	border: 2px dashed;
	padding:5px;
}

.kek_acuvue {
    font-size: 14px;
    color: #6BB1E2;
    margin-top: 10px;
}

.h1_arrow_purple{
	background: url(img/h1-arrow.png) no-repeat left top;
	background-color:#8d6097;
	height:28px;
	padding: 7px 0 0 26px;
	color:#FFFFFF;
	display:block;
	margin:0;
}
.h1_arrow_grey{
	background: url(img/h1-arrow.png) no-repeat left top;
	background-color:#80766e;
	height:28px;
	padding: 7px 0 0 26px;
	color:#FFFFFF;
	display:block;
	margin:0;
}

.table-left-arr {
   background: url("img/table-left-arr.png") no-repeat scroll 0 0 transparent;
   width: 14px;
   height: 23px;
   
   top: 0px;
   /*display: block;*/
   position: relative;
  /* right: -16px;*/
   
}
.table-top-arr {
   background: url("img/table-top-arr.png") no-repeat scroll 0 0 transparent;
   height: 14px;
   width: 23px;
   top: -2px;
   display: block;
   position: absolute;

   
}

/* PRODUCTS */

/* Product list */
.product-one-of-all{
	float:left;
	border-right: 1px dashed;
	border-bottom: 1px dashed;
	border-spacing:2px;
	border-color:#bdbdbd;
	width:236px;
	height:270px;
	padding:10px;
	position:relative;
	text-align:left;
}
.product-one-of-all h2 a{
	color:#44b7c9;
	font-size:14px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight:700;
}
.product-one-of-all-man{
	color:#7f766f;
}
.product-one-of-all-price{
	float:right;
	min-width:126px;
	min-height:56px;
	position:absolute;
	bottom:10px;
	right:10px;
}

.product-one-of-all-price2{
	float:right;
	min-width:126px;
	min-height:56px;
	/*position:relative;*/
	bottom:10px;
	right:10px;
	
}

.product-one-of-all-p{

	background-color:#f5f4f2;
	color:#978f89;
	text-align:center;
}

.product-one-of-all-np{
	background-color:#47b7cb;
	color:#FFFFFF;
	text-align:center;
	border:0;
	border-radius: 2pt 2pt;
}

.product-one-of-all img{
	max-width:160px;
	max-height:160px;
}
.prod-akcio{
	width:57px;
	height:56px;
	color:#FFFFFF;
	text-align:center;
	vertical-align:central;
	text-transform:uppercase;
	font-weight:bold;
	background: url("icons/akcio.png") no-repeat left;
	position:absolute;
}
.prod-akcio-text{
	margin-top:20px;
}

.old_price{
	font-size:12px;
	color:#7f766d;
}

/* Prodict list END */

.dropdown-specs {
    border: 1px solid #46B7CB;
    color: #80766E;
    font-family: Arial !important;
}

.product-title{
	float:left;
	width:500px;
	text-align:center;
}
.product-title h1{
	color:#46b7cb;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:14px;
    font-weight:700;
	text-align:left;
	margin:0;
}
.prod-title{
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:18px;
}
.product-des{
	padding:10px;
	float:left;
	width:245px;
	word-wrap:break-word;
	background-color:#f5f4f2;
	margin-left:10px;
	color:#80766e;
}

.product-data{
	float:left;
	width:486px;
}
.product-data td{
	height:34px;
	font-weight:bold;
	color:#80766d;
	font-size:14px;
}

.product-price{
	float:left;
	width:250px;
	margin-left:10px;
}
#product-to-basket{
	margin-top:10px;
	float:right;
	padding:5px;
}
#product-to-basket2{
	/*margin-top:10px;*/
	/* float:right; */
	padding:5px;
	position: absolute;
	bottom: 50px;
	right:130px;
}

.purple-arrow-button{
	height:36px;
	background-color:#906198;
	color:#ffffff;
	font-family:Arial;
    font-weight:bold;
	font-size:16px;
    cursor:pointer;
	border:none;
    padding-left:.25em ;
	padding-right:.25em ;
	width:1;
    overflow:visible;

	margin-left:0;
	margin-right:0;
	/*width:auto;*/
	min-width:auto;
}
.purple-arrow-button-left{
	float:left;
	height:36px;
	width:20px;
	background: url("icons/purple-arrow-button-left.png") no-repeat left;
	margin-right:0;
}
.purple-arrow-button-right{
	float:left;
	height:36px;
	width:20px;
	background: url("icons/purple-arrow-button-right.png") no-repeat right;
	margin-left:0;
}
.purple-arrow-button-left-back{
	float:left;
	height:36px;
	width:20px;
	background: url("icons/purple-arrow-button-right-back.png") no-repeat left;
	margin-right:0;
}
.purple-arrow-button-right-back{
	float:left;
	height:36px;
	width:20px;
	background: url("icons/purple-arrow-button-left-back.png") no-repeat right;
	margin-left:0;
}

/* PRODUCT PRICE END */

/* TRANSPORT */

.transport{
	width:100%;
	padding:5px;
}
.transport-table{
	background-color:#f7f7f7;	
}
.transport-table td{
	border: 3px solid #FFFFFF;
}
.transport-table-grey{
	background-color:#f4f2f3;
}
.transport-table-price{
	color:#46b6ca;
	font-weight:bold;
	font-size:18px;
}
.kicsi-ingyen{
	font-weight:normal;
	font-size:11px;
	color:#789d19;
}
.kicsi-select{
	font-weight:normal;
	font-size:11px;
	color:#7f756c;
}

.transport-price{
	float:right;
	width:250px;
	margin-top:10px;
	margin-left:10px;
}

.transport-price2{
    float:left;
    width:250px;
    margin-top:10px;
    margin-left:0px;
    display:none;
}

.transport-price3{
    float:left;
    width:770px;
    margin-top:10px;
    margin-left:0px;
}

/* TRANSPORT END */

/* FOOTER */
#footer {
	width:950px;
	height:76px;
	padding-left:10px;
	margin-top:16px;
	margin-bottom:18px;
	position: relative;
	display:block;
	background:none;
	color:#c7c2be;
	font-size:11px;
}
#footer h2{
	font-size:18px;
	color:#c7c3c0;
	font-weight:normal;
	margin:0;
}
#newsletter {
	float:left;
	height:80px;
	background: url("img/letter.png") no-repeat scroll 0 28px transparent;
	paddin-left:50px;
}
#newsletter_input input{
	margin:6px 10px 0 0;
	
	height:18px;
	padding:0;
}
#newsletter table{
	margin-top:10px;
	margin-left:60px;
	margin-right:10px;
	float:left;
}

.letter-button{
	
	border-color:#FFF;
	min-width:90px;
	background-color:#f5f4f2;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	border-radius: 2pt 2pt;
	
	
	border: 1px solid #FFF;
    color: #80766E;
    float: left;
    height: 22px;
    padding-top: 2px;
    text-indent: 5px;
   /* width: 180px;*/
}

#contact{
	float:left;
	margin-left:10px;
	width:440px;
	height:70px;
	background: url("img/logo-footer.png") no-repeat scroll 0 28px transparent;
	
}
#contact table{
	margin-top:-10px;
	margin-left:158px;
	color:#feffff;
}
.cont-label{
	color:#c7c4bf;
}

#contact a{
	color:#ffffff;
}

#aszf a{
    color:#ffffff;
}

#created{
	/*float:right;*/
	min-width:130px;
	height:80px;
	top:0;
	right:0;
	position: absolute;
}

#created table{
	/*width:130px;*/
	margin-top:10px;
	color:#c7c4bf;
}
.created-design{
	width:70px;
	height:24px;
	background: url("img/logo-maximart.png") no-repeat scroll 0 0 transparent;
}
.created-dev{
	height:18px;
	background: url("img/logo-dev.png") no-repeat scroll 0 0 transparent;
}

#created a{
    color:#ffffff;
}

.error{
	
	color:#FF6600;
	/*font-size:16px;
	font-weight:bold;*/
}
.table-header{
	color:#80766e;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
}

.kosar_szallitas {
    font-size: 12px;
}
/* REGISTRATION */

.reg-table{
	background-color:#f7f7f7;
}
.reg-table td{
	border: 3px solid #FFFFFF;
	padding:10px;
}
.reg-table-grey{
	background-color:#f4f2f3;
}

.purple-arrow-button2{
	height:26px;
	background-color:#906198;
	color:#ffffff;
    cursor:pointer;
	font-family:Arial, serif;
	font-size:15px;
	border:none;
}
.purple-arrow-button-left2{
	float:left;
	height:26px;
	width:20px;
	background: url("icons/purple-arrow-button-left2.png") no-repeat left;
}
.purple-arrow-button-right2{
	float:left;
	height:26px;
	width:20px;
	background: url("icons/purple-arrow-button-right2.png") no-repeat right;
}

/* REGISTRATION END */

/* CART */
.table-cart{
	background-color:#f8f7f7;
	color:#80766e;
	font-size:12px;
}
.table-cart td{
    /* border: 3px solid #FFFFFF; */
}

.table-cart-header{
	background-color:#f4f3f3;
	color:#80766e;
	font-size:14px;
    font-weight: 700;
}
.cart h2 a{
	color:#44b7c9;
	font-size:14px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	font-weight: 700;
}

.cart-link{
	background: url('icons/cart-link.png') no-repeat scroll  left top transparent;
	padding: 7px 0 2px 35px;
}
.cart-link a{
	color:#46b7cb;
	text-decoration:underline;
}
/* CART END */

/* ORDER PAGE */
.order-page{
	color:#80766e;
	width:765px;
}
.order-prod-table{
font-size:12px;
}

.order_hatter {
    background-color: #f8f7f7;
}

.order-number{
	width:100%;
 	background-color:#80766e;	
	color:#FFFFFF;
	font-size:18px;
	padding:10px;
	margin:20px 0 20px 0;
}
.order-price{
	background-color:#8f6199;
	color:#FFFFFF;
	font-size:16px;
	padding:10px;
	/*height:15px;*/
}

.order-price-table table{
	font-size:12px;
}
.order-page h2{
	font-size:14px;
	font-family:Arial, Verdana, Helvetica, sans-serif;
	color:#46b7cb;
	font-weight: 700;
	margin:0;
}
.order-table-header{
	font-size:14px;
	font-weight:normal;
}
.order-datas{
	color:#80766e;
	width:765px;
	margin-top:20px;
	
}

.stripe-line{
	border-top: 1px dashed;
	border-color:#bdbdbd;
	width:100%;
	display:block;
	margin-top:10px;
	padding-top:10px;

}
/* ORDER PAGE END */

/* Népszerû termékek */
.termek1 {
	float: left;
	position: relative;
	display: block;
	width: 244px;
	height: 145px;
	background: url(img/akcios_termek_bg.gif) no-repeat bottom right;
	border-right: 1px dashed #bdbcbc;
    border-bottom: 1px dashed #bdbcbc;
	margin: 5px 0px 0px 0px;
    padding-left: 10px;
}
.termek1 img{
max-width:150px;
max-height:90px;
}

.nev_hossz {
    width:150px;
}

.marka {
    position: absolute;
    margin: 0px!important;
    top: 7px;
    right: 5px; 
    width: auto!important;
  	height: auto!important;   
	color:#7f766d;
	font-size: 10px;
  }
.ar_regi, .ar {
	position: absolute;
	right: 5px;  
	width: 80px;  
	text-align: center;  
}
.ar_regi {
	text-decoration: line-through;
	bottom: 36px;
	color:#7f766d;
}
.ar {
	bottom: 20px;
	font-size: 16px;
	color: #769d18;
	font-weight: bold;   
}
 .tipus, .cikkszam {
    position: absolute;
    left: 5px;  
  }
  .tipus {
    bottom: 15px;
    color: #46b7cb;
    font-size: 14px;
    font-weight: bold;  
  }
 .termek1 a{
    color: #46b7cb;
  }
  .cikkszam {
    bottom: 3px; 
    color: #80766e;
  }
  .last {
    margin: 0px!important;
    border: none!important;
  }
  .akcios_last {
    margin: 5px 0 0!important;
    border: none!important;
  }  



a.termeklink {
  color:#46B7CB;
  float:none!important;
  text-align:left!important;
  padding-right:0px!important;
  text-decoration:underline!important;
}

a.termeklink:hover {
  text-decoration:none!important;
}
  
  /* Népszerû termékek END*/
  
  
a.normal_link {
    color:#46B7CB;
    float:none!important;
    text-align:left!important;
    padding-right:0px!important;
    text-decoration:underline!important;
}

a.normal_link:hover {
    text-decoration:none!important;
}

a.normal_link:visited {
    color:#46B7CB;
}